:root {
    --pink: hsl(338, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
    --background-gradient: linear-gradient(to bottom right, #051937, #004d7a);
    --card-gradient: linear-gradient(to bottom right, #ffffff, #e0e0e0);
}

body {
    background: var(--background-gradient);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

.business-card {
    background: var(--card-gradient);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, border 0.3s ease-out;
}

.business-card:hover {
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg);
    border: 2px solid var(--teal);
}

.business-card-content {
    font-family: 'Roboto', sans-serif;
}

.business-card-content h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.business-card-content p {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.business-card-content a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.business-card-content a:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.black {
    color: black;
}
